[submodule "tests"]
	path = tests
	url = https://github.com/YosysHQ/nextpnr-tests
[submodule "xilinx/external/prjxray-db"]
	path = xilinx/external/prjxray-db
	url = https://github.com/SymbiFlow/prjxray-db
[submodule "xilinx/external/nextpnr-xilinx-meta"]
	path = xilinx/external/nextpnr-xilinx-meta
	url = https://github.com/gatecat/nextpnr-xilinx-meta
